<div class="main" >
    <!--<nav class="main-mobile-nav">-->
        <!--<div class="main-mobile-overlay"></div>-->
        <!--<div class="main-mobile-btn" @click.stop="handleMenuClick(0)">-->
            <!--<div class="main-mobile-btn-wrap">-->
                <!--<i class="main-btn-icon main-icon-sort"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<header class="main-mobile-header">-->
            <!--<div class="main-header-profilepic">-->
                <!--<img src="/public/images/kris.jpg" alt="" class="main-header-avatar">-->
            <!--</div>-->
            <!--<hgroup class="main-header-author">-->
                <!--<h1 class="main-author-name">Csdoker</h1>-->
            <!--</hgroup>-->
            <!--<p class="main-header-subtitle">-->
                <!--<i class="main-subtitle-icon main-icon-quo-left"></i>-->
                <!--NodeJS Personal Blog-->
                <!--<i class="main-subtitle-icon main-icon-quo-right"></i>-->
            <!--</p>-->
            <!--<nav class="main-header-nav">-->
                <!--<div class="main-nav-social">-->
                    <!--<a class="main-social-link main-github" target="_blank" href="https://github.com/" title="github">-->
                        <!--<i class="main-icon-github"></i>-->
                    <!--</a>-->
                    <!--<a class="main-social-link main-github" target="_blank" href="https://github.com/" title="github">-->
                        <!--<i class="main-icon-github"></i>-->
                    <!--</a>-->
                    <!--<a class="main-social-link main-github" target="_blank" href="https://github.com/" title="github">-->
                        <!--<i class="main-icon-github"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</nav>-->
            <!--<nav class="main-header-menu">-->
                <!--<ul class="main-menu-list">-->
                    <!--<li class="main-menu-item">-->
                        <!--<a class="main-menu-link" href="">Home</a>-->
                    <!--</li>-->
                    <!--<li class="main-menu-item">-->
                        <!--<a class="main-menu-link" href="">Archive</a>-->
                    <!--</li>-->
                    <!--<li class="main-menu-item">-->
                        <!--<a class="main-menu-link" href="">Album</a>-->
                    <!--</li>-->
                    <!--<li class="main-menu-item">-->
                        <!--<a class="main-menu-link" href="">Message</a>-->
                    <!--</li>-->
                    <!--<li class="main-menu-item">-->
                        <!--<a class="main-menu-link" href="">About</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</header>-->
        <!--<div class="main-mobile-mask main-show"></div>-->
    <!--</nav>-->

    <%- include("./home.ejs")%>
    <footer class="main-footer">
        ©&nbsp;{{year}}&nbsp;Kris
    </footer>
</div>