<div class="sidebar sidebar-show">
  <div class="sidebar-overlay"></div>
  <div class="sidebar-header">
    <header class="sidebar-header-inner">
      <a class="sidebar-header-profilepic" href="">
        <img class="sidebar-header-kris" src="/public/images/kris.jpg">
      </a>
      <hgroup class="sidebar-header-author">
        <h1 class="sidebar-author-wrap">
          <a class="sidebar-author-name">Kris</a>
        </h1>
      </hgroup>
      <p class="sidebar-header-subtitle">NodeJS Personal Blog</p>
      <nav class="sidebar-header-menu">
        <ul class="sidebar-menu-list">
          <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="/" target="content">Home</a></li>
          <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="" target="content">Archive</a></li>
          <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="" target="content">Album</a></li>
          <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="" target="content">Message</a></li>
          <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="/about" target="content">About</a></li>
        </ul>
      </nav>
      <nav class="sidebar-header-smart-menu">
        <a class="sidebar-smart-menu-link" onclick="handleMenuClick(0)">Search</a>
        <a class="sidebar-smart-menu-link">Friendship link</a>
      </nav>
      <nav class="sidebar-header-nav">
        <div class="sidebar-social">
          <a class="sidebar-social-link sidebar-github" target="_blank" href="https://github.com/" title="github">
            <i class="sidebar-icon-github"></i>
          </a>
          <a class="sidebar-social-link sidebar-github" target="_blank" href="https://github.com/" title="github">
            <i class="sidebar-icon-github"></i>
          </a>
          <a class="sidebar-social-link sidebar-github" target="_blank" href="https://github.com/" title="github">
            <i class="sidebar-icon-github"></i>
          </a>
        </div>
      </nav>
    </header>
  </div>
</div>




