<div class="toolbar toolbar-show">
    <div class="toolbar-header">
        <ul class="toolbar-header-menu">
            <li class="toolbar-menu-item"><a href="" class="toolbar-item-link">Search</a></li>
            <li class="toolbar-menu-item"><a href="" class="toolbar-item-link">Friendship link</a></li>
        </ul>
    </div>
    <div class="toolbar-wrap">
        <section class="toolbar-session-archive">
            <div class="toolbar-archive-search">
                <input type="text" class="toolbar-search-input" placeholder="find something...">
                <i class="toolbar-icon-search toolbar-search-icon"></i>
                <i class="toolbar-icon-close toolbar-search-icon"></i>
            </div>
            <div class="toolbar-archive-tag">
                <div class="toolbar-tag-toggle">
                    <span class="toolbar-tag-wording">tag:</span>
                    <input type="checkbox" class="toolbar-tag-checkbox">
                </div>
                <ul class="toolbar-tag-list">
                    <li class="toolbar-tag-item"><a href="" class="toolbar-tag-link"></a></li>
                    <li class="toolbar-clearfix"></li>
                </ul>
            </div>
            <ul class="toolbar-archive-list">
                <li class="toolbar-archive-item">
                    <a href="" class="toolbar-item-title">
                        <i class="toolbar-icon-quo-left toolbar-title-icon"></i>
                        <a class="toolbar-title-name"></a>
                    </a>
                    <div class="toolbar-item-info">
                        <i class="toolbar-icon-calendar toolbar-time-icon"></i>
                        <span class="toolbar-time-date"></span>
                        <i class="toolbar-icon-price-tags toolbar-tag-icon"></i>
                        <span class="toolbar-tag-item"></span>
                    </div>
                </li>
            </ul>
        </section>
        <section class="toolbar-section-friends">
            <ul class="toolbar-friends-list">
                <li class="toolbar-friends-item">
                    <a href="" target="_blank" class="toolbar-friends-link">
                        <i class="toolbar-icon-quo-left toolbar-link-icon"></i>
                        Test
                    </a>
                </li>
                <li class="toolbar-friends-item">
                    <a href="" target="_blank" class="toolbar-friends-link">
                        <i class="toolbar-icon-quo-left toolbar-link-icon"></i>
                        Test
                    </a>
                </li>
                <li class="toolbar-friends-item">
                    <a href="" target="_blank" class="toolbar-friends-link">
                        <i class="toolbar-icon-quo-left toolbar-link-icon"></i>
                        Test
                    </a>
                </li>
                <li class="toolbar-friends-item">
                    <a href="" target="_blank" class="toolbar-friends-link">
                        <i class="toolbar-icon-quo-left toolbar-link-icon"></i>
                        Test
                    </a>
                </li>
                <li class="toolbar-friends-item">
                    <a href="" target="_blank" class="toolbar-friends-link">
                        <i class="toolbar-icon-quo-left toolbar-link-icon"></i>
                        Test
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>